img {
    width: 100px
}

html {
    padding-top: 10px;
    background-color: cornflowerblue;
}

div {
    background-color: red;
    border: 10px;
    margin: 22px;
    text-align: center;
    color: blue;
    font-family: helvitica, sans-serif;
}
